@import "../../scss/variables.scss";

.sidebar {
  flex: 0 0 20%;
  min-height: 100%;
  margin: 0 40px 0 0;
  background-color: $color-background;

  .block {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    flex: 1 0 auto;
    min-height: 100%;
    padding: 30px 20px 20px;

    .title {
      margin-bottom: 20px;
      font-size: 18px;
      font-weight: 500;
      color: $color-secondary;
      color: $color-primary;
    }

    .link {
      display: block;
      padding: 10px 0;
      color: $headerLinksColor;
      &:active {
        color: $headerLinksColorActive;
      }
      &:hover {
        color: $color-secondary;
      }
      &::first-letter {
        color: $color-secondary;
        font-size: 1.4em;
      }
    }

    .activeLink {
      margin-left: 10px;
      color: $color-secondary;
      // &::first-letter {
      //   color: $color-primary;
      // }
    }
  }
}
