// clobal variables:
$color_1: #18161a;
$color_2: #673d95;
$color_3: #ff9e60;
$color_4: #f6f6f6;

// $content-width: 1270px;
$content-width: 1366px;
$content-padding: 0 15px;

$default-font: "Roboto", sans-serif;
$secondary-font: "Montserrat", sans-serif;

$font-size-14: 14px;
$line-height-18: 18px;

$color-main: $color_1;
$color-primary: $color_2;
$color-secondary: $color_3;
$color-background: $color_4;

// header variables:
$headerBG: #fff;
$headerBorder: $color-background; // #ececec
$headerInputBG: $color-background;
$headerInputBorder: #ececec;
$headerInputBox: $color-background;
$headerLinksColor: $color-main;
$headerLinksColorActive: $color-primary;
$headerAccountCount: $color-secondary;

// footer variables:
$footerBG: #333333;
$footerTextColor: $color-background;
$footerLinksColor: $color-background;
$footerNavColorHover: #444444;
$footerLineColor: $color-background;
