@import "../../scss/variables.scss";

.result {
  height: 30px;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  color: $color-secondary;
}

.wrapper {
  .list {
    .item {
      display: flex;
      column-gap: 20px;
      margin-bottom: 10px;
      border-radius: 5px;
      background-color: #fff;
      overflow: hidden;

      .image {
        flex: 0 0 40px;
        border-radius: 5px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .info {
        flex: 1 1 auto;
        padding: 5px 10px 5px 0;
        color: $color-main;

        & > :not(:last-child) {
          margin-bottom: 10px;
        }

        .title {
          font-weight: 500;
        }

        .author {
          font-style: italic;
          color: $color-primary;
        }
      }
    }
  }
}
