@import "../../scss/variables.scss";

.colored {
  color: $color-primary;
}

.logo {
  font-family: $secondary-font;
  font-weight: 900;
  text-align: justify;
  width: auto;
  text-align: left;

  .text-top {
    color: $color-primary;
    font-size: 24px;
    letter-spacing: 0px;
  }

  .text-bottom {
    color: $color-secondary;
    font-size: 14px;
    letter-spacing: 12px;
  }
}
