@import "../../scss/variables.scss";

.footer {
  background-color: $footerBG;

  .line {
    border-bottom: 1px solid $footerLineColor;
  }

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    color: $footerTextColor;

    .logo {
      height: 60px;

      img {
        height: 100%;
        object-fit: contain;
      }
    }

    .socials {
      height: 20px;

      a {
        display: inline-block;
        height: 100%;
        color: $footerLinksColor;
      }

      & > *:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}

// .nav {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;

//   a {
//     display: block;
//     padding: 15px 20px;
//     color: $footerNavColor;

//     &:hover {
//       background-color: $footerNavColorHover;
//     }
//   }
// }
