@import "../../scss/variables.scss";

.header {
  .top {
    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;

      .logo {
        height: 60px;

        img {
          height: 100%;
          object-fit: contain;
        }
      }

      .input {
        position: relative;
        width: 400px;
        line-height: 40px;

        input {
          width: 100%;
          height: 40px;
          background-color: $color-background;
          border-radius: 3px;
          padding: 5px 17px;
          border: 1px solid #ececec;
        }
        input::placeholder {
          color: #b8b8b8;
        }

        .icon-search {
          position: absolute;
          top: 50%;
          right: 17px;
          transform: translateY(-50%);
        }
      }

      .info {
        .icon-telephone {
          position: relative;
          top: 3px;
          right: 5px;
        }
      }

      .group__login {
        .icon-login {
          position: relative;
          top: 3px;
          right: 5px;
        }
        a {
          color: $color-main;
        }
        a:active {
          color: $color-primary;
        }
      }

      .group__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 60px;

        a {
          color: $color-main;
        }

        .group__favourite {
          position: relative;

          .group__qty {
            position: absolute;
            bottom: 50%;
            left: 50%;
            display: block;
            width: 16px;
            height: 16px;

            text-align: center;
            line-height: 16px;
            border-radius: 50%;
            font-size: 10px;

            background-color: $color-secondary;
          }

          .icon-favourite {
          }
        }
        .group__cart {
          position: relative;

          .group__qty {
            position: absolute;
            bottom: 50%;
            left: 50%;
            display: block;
            width: 16px;
            height: 16px;

            text-align: center;
            line-height: 16px;
            border-radius: 50%;
            font-size: 10px;

            background-color: $color-secondary;
          }

          .icon-cart {
            position: relative;
            bottom: 1px;
          }
        }
      }
    }
  }
}
