@import "../../scss/variables.scss";

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: $headerBG;
  padding: $content-padding;
  border-bottom: 1px solid $headerInputBorder;

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

    .logo {
      height: 60px;

      img {
        height: 100%;
        object-fit: contain;
      }
    }

    .form {
      position: relative;
      width: 400px;
      height: 40px;

      .input {
        height: 100%;

        input {
          width: 100%;
          height: 100%;
          background-color: $headerInputBG;
          border-radius: 3px;
          padding: 5px 17px;
          border: 1px solid $headerInputBorder;
        }
        input::placeholder {
          color: #b8b8b8;
        }
      }

      .icon-search,
      .icon-close {
        position: absolute;
        top: 50%;
        right: 17px;
        transform: translateY(-50%);
      }
      .icon-close {
        cursor: pointer;
      }

      .searchBox {
        position: absolute;
        width: 100%;
        min-height: 40px;
        max-height: 400px;
        padding: 10px 17px 0px 17px;
        border: 1px solid #fff;
        border-radius: 3px;
        background-color: $headerInputBox;
        overflow: scroll;
      }
    }

    .info {
      .icon-telephone {
        position: relative;
        top: 3px;
        right: 5px;
      }
    }

    .account {
      height: 100%;

      .row {
        // остальные параметры берутся из .row выше
        width: 124px;
        height: 100%;
        padding: 0 0;
        // padding-right: 10px;

        a {
          display: flex;

          color: $headerLinksColor;

          &:active {
            color: $headerLinksColorActive;
          }
        }

        .groups {
          position: relative;
        }

        .count {
          position: absolute;
          bottom: 70%;
          left: 70%;
          display: block;
          width: 17px;
          height: 17px;

          text-align: center;
          line-height: 17px;
          border-radius: 50%;
          font-size: 11px;

          background-color: $headerAccountCount;
        }

        .login {
          .user {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 34px;
            height: 34px;
            border-radius: 50%;
            cursor: pointer;

            img {
              width: 100%;
              height: 100%;
              border-radius: 50%;
            }

            a {
              color: $headerLinksColor;

              &:active {
                color: $headerLinksColorActive;
              }
            }
          }
        }
      }
    }
  }
}
