@import "../../scss/variables.scss";

.header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: $headerBG;
  padding: $content-padding;
  border-bottom: 1px solid $headerInputBorder;

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

    .logo {
      height: 60px;

      img {
        height: 100%;
        object-fit: contain;
      }
    }

    .form {
      position: relative;
      width: 400px;
      height: 40px;

      .input {
        height: 100%;

        input {
          width: 100%;
          height: 100%;
          background-color: $headerInputBG;
          border-radius: 3px;
          padding: 5px 17px;
          border: 1px solid $headerInputBorder;
        }
        input::placeholder {
          color: #b8b8b8;
        }
      }

      .icon-search {
        position: absolute;
        top: 50%;
        right: 17px;
        transform: translateY(-50%);
      }

      .box {
        position: absolute;
        width: 100%;
        min-height: 40px;
        height: auto;
        border-radius: 3px;
        padding: 5px 17px;
        background-color: $headerInputBox;
      }
    }

    .info {
      .icon-telephone {
        position: relative;
        top: 3px;
        right: 5px;
      }
    }

    .login {
      .icon-login {
        position: relative;
        top: 3px;
        right: 5px;
      }
      a {
        color: $headerLinksColor;

        &:active {
          color: $headerLinksColorActive;
        }
      }
    }

    .account {
      height: 100%;

      .row {
        // остальные параметры берутся из .row выше
        width: 70px;
        height: 100%;
        padding-right: 10px;

        a {
          color: $headerLinksColor;

          &:active {
            color: $headerLinksColorActive;
          }
        }

        .groups {
          position: relative;
        }

        .count {
          position: absolute;
          bottom: 70%;
          left: 70%;
          display: block;
          width: 16px;
          height: 16px;

          text-align: center;
          line-height: 16px;
          border-radius: 50%;
          font-size: 10px;

          background-color: $headerAccountCount;
        }
      }
    }
  }
}
